.parentExpenseItemsContainer{
    width: 90%;
    padding: 25px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 150px; */
}
.parentExpenseItemsContainer > .containerItems{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: gray;
    color: white;
    border: 3px solid white;
}
.parentExpenseItemsContainer > .containerItems:hover{
    background-color: rgb(173, 172, 172);
    transition-duration: 0.5s;
    > .title{
        background-color: white;
        color: black;
        border-radius: 10px;
    }
}
.title{
    padding: 10px;
    background-color: black;
    color: white;
}
.title:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}